
.hideButton{
    display: none;
}

.title {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: -25px;
}

.custom-table > thead > tr > th {
    color: #252525;
}

.custom-table {
    & thead, & tbody,  & tfoot, & tr, & td, & th {
        border-color: #252525;
        background: white;
    }
}

.custom-table .table-cell-email {
    max-width: 200px;
    min-width: 200px;
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}

.score-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.refresh {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.score-content {
    margin-top: 10vh;
}